header {
    background-color: $secondaryColor;
}

.navbar-brand {
    font-family: $secondaryFont;
}

.hamburger-menu {
    position: relative;
}

.main-menu-nav {
    position: absolute;
    top: 5rem;
    left: -2rem;
    background-color: $primaryColor;
    z-index: 3;
    padding: 2rem 1rem;
    width: 20%;
    border-radius: 17px;
    box-shadow: 0 0 12px 0 rgba($blackColor, .4);
    display: none;
}