header {
    background-color: $secondaryColor;
}

.navbar-brand {
    font-family: $secondaryFont;
    font-size: 30px;
    color: $primaryColor;
    &:hover,
    &:focus {
        color: $primaryColor;
    }
}

.hamburger-menu {
    position: relative;
}

.main-menu-nav {
    position: absolute;
    top: 5rem;
    left: -2rem;
    background-color: $primaryColor;
    z-index: 3;
    padding: 2rem 1rem;
    width: 20%;
    border-radius: 17px;
    box-shadow: 0 0 12px 0 rgba($blackColor, .4);
    display: none;
}

.contacts {
    span {
        font-size: 1.4rem;
        line-height: 1;
        margin: 0 1rem 0 0;

        i {
            margin: 0 1rem 0 0;
        }
    }
}

.reserve_table {
    a.btn {
        font-size: 1.2rem;
        line-height: 1;
    }
}