header {
    background-color: getColor("secondary");
}

.navbar-brand {
    font-family: getFont("secondary");
    font-size: getFontSize("xl");
    color: getColor();
    &:hover,
    &:focus {
        color: getColor();
    }
}

.hamburger-menu {
    position: relative;
}

.main-menu-nav {
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: getColor();
    z-index: 3;
    padding: 2rem 1rem;
    width: 20%;
    border-radius: 17px;
    box-shadow: 0 0 12px 0 rgba(getColor("black"), .4);
    display: none;

    .nav-link {
        color: getColor("dark-green");
        font-size: getFontSize("l");
        line-height: 1;
    }
}

.contacts {
    span {
        font-size: getFontSize("sm");
        line-height: 1;
        margin: 0 1rem 0 0;

        i {
            margin: 0 1rem 0 0;
        }
    }
}

.reserve_table {
    a.btn {
        font-size: getFontSize("xs");
        line-height: 1;
    }
}