/* $primaryColor: #7ea33b;
$secondaryColor: #d7c4ae;
$tertiaryColor: #262625;

$blackColor: #000000; */

$colors: (
    "primary":      #7ea33b,
    "secondary":    #d7c4ae,
    "tertiary":     #262625,

    "black":        #000000,
    "white":        #ffffff,
    
    "dark-green":     #41593b
);