/*-------------------------
Google Fonts
-------------------------*/
$josefinFont: 'Josefin Sans', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$pacificoFont: 'Pacifico', cursive;

/*-------------------------
Fonts
-------------------------*/

$fonts: (
    "primary": $montserratFont,
    "secondary": $pacificoFont,
    "tertiary": $josefinFont
);